html, body
{
	overflow-y:			auto;
}

.wrapper
{
	height:				calc(100% - 32px);
	margin:				16px 16px 16px 16px;
}

#optionbar, #optionbaralt, .note-editor > .note-toolbar
{
	width:				100%;
	background:			none;
	border:				none;
	padding:			0 5px 5px;
}

#optionbar > .btn-group, #optionbaralt > .btn-group
{
	margin-top:			5px;
	margin-right:		5px;
	margin-left:		0;
}

.datacontainer
{
/*	overflow:			auto;*/
	height:				calc(100% - 60px);
	padding:			10px;
}

.message
{
	padding:			10px;
}

#newpass
{
	display:			none;
}

.pr {
	cursor:				pointer;
}
