
.panel
{
	box-shadow:			none;
}

.note-editor.note-frame
{
	height:				calc(100% - 32px);
	margin-bottom:		0;
	border:				none;
}

.note-editor.note-frame > .note-editing-area,
		.note-editor.note-frame > .note-editing-area > .note-editable
{
	height:				100%;
}

.note-statusbar
{
	display:			none;
}

#editor, #viewer
{
	padding:			10px;
}
