body + .left /* Feels like a dirty hack... */
{
	overflow:			hidden;
}

.left
{
	float:				left;
	width:				50%;
	height:				100%;
	overflow:			hidden;
}

.left > .note-editor
{
	margin-right:		2px;
}

.panel
{
	box-shadow:			none;
}

.note-editor.note-frame
{
	height:				calc(100% - 32px);
	margin-bottom:		0;
	border:				none;
}

.note-editor.note-frame > .note-editing-area,
		.note-editor.note-frame > .note-editing-area > .note-editable
{
	height:				100%;
}

.note-statusbar
{
	display:			none;
}

#seperator
{
	float:				right;
	width:				2px;
	height:				100%;
	background-color:	#222222;
	cursor:				col-resize;
}

.right
{
	margin-left:		calc(50% + 16px);
}

#editor, #viewer
{
	padding:			10px;
}
