html, body
{
	height:				100%;
	margin:				0;
	padding:			0;
	font-family:		Arial, Helvetica, "Helvetica Neue", sans-serif;
	font-size:			14px;
	color:				#333333;
	background-color:	#FFFFFF;
	overflow:			hidden;
}

p
{
	margin:				0 0 10px;
}

a
{
	outline:			0;
}

.nopointer
{
	cursor:				default;
}

.noselect {
	-moz-user-select:	none;
	-ms-user-select:	none;
	-webkit-user-select:none;
	user-select:		none;
}

header
{
	height:				50px;
	color:				#9AD4E3;
	background-color:	#0A98BC;
	background-image:	url("/include/img/pattern-water.png");
	top:				50%;
	line-height:		50px;
	-moz-box-shadow:	0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:	0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:			0 0 10px rgba(0, 0, 0, 0.5); /* Fix color */
}

footer
{
	position:			absolute;
	width:				100%;
	height:				50px;
	bottom:				0;
	color:				#BBBBBB;
	background-color:	#EEEEEE;
	text-align:			center;
	line-height:		50px;
}
