html, body
{
	height:				100%;
	margin:				0;
	padding:			0;
	font-family:		Arial, Helvetica, "Helvetica Neue", sans-serif;
	font-size:			14px;
	color:				#333333;
	background-color:	#FFFFFF;
	overflow:			hidden;
}

p
{
	margin:				0 0 10px;
}

:focus
{
	outline:			none !important;
}

::-moz-focus-inner
{
	border:				0;
}

select:-moz-focusring
{
	color:				transparent;
	text-shadow:		0 0 0 #000;
}

label
{
	margin-bottom:		0;
	font-weight:		normal
}

input[type="checkbox"]
{
	margin-top:			0;
}

.nopointer, .panel-heading
{
	cursor:				default;
}

.noselect, .panel-heading
{
	-moz-user-select:	none;
	-ms-user-select:	none;
	-webkit-user-select:none;
	user-select:		none;
}

.container
{
	width:				100%;
	margin-left:		0;
	margin-right:		0;
	padding-left:		32px;
	padding-right:		32px;
}

.navbar.navbar-static-top
{
	margin-bottom:		0;
	border-color:		#0A97BB;
	background-color:	#0A98BC;
	background-image:	url("/include/img/pattern-water.png");
}

.navbar.navbar-static-top .navbar-nav > .active > a,
		.navbar.navbar-static-top .navbar-nav > li > a:hover
{
	color:				#F5F5F5;
	background-color:	rgba(10, 151, 187, 0.6);
}

.navbar.navbar-static-top .navbar-header > a
{
	color:				#FFFFFF;
}

.navbar.navbar-static-top .navbar-nav > li > p,
		.navbar.navbar-static-top .navbar-nav > li > a
{
	color:				#E4E4E4;
}

.navbar-brand
{
	padding:			5px;
}

.wrapper
{
	height:				100%;
}

#content
{
	top:				50px;
	margin-left:		250px;
	width:				calc(100% - 250px);
	height:				calc(100% - 100px);
}

.footer
{
	position:			absolute;
	width:				100%;
	height:				50px;
	bottom:				0;
	background-color:	#707070;
}

.footer > .container > .text-muted
{
	margin:				15px 0;
	color:				#FFFFFF;
}
