html, body
{
	overflow:			none;
}

/* <CRAP> (FIXME Very crappy css) */
#years
{
	position:			absolute;
	display:			inline-flex;
	width:				175px;
	right:				0;
	margin-right:		21px;
}

#years > span
{
	width:				50px;
}
/* </CRAP> */

.datacontainer
{
	overflow:			auto;
	height:				calc(100% - 60px);
}

.pr {
	cursor:				pointer;
}
