.sidebar
{
	position:			fixed;
	width:				250px;
	top:				50px;
	bottom:				50px;
	padding-bottom:		16px;
	padding-top:		16px;
	float:				left;
	background:			#222222;
	overflow:			auto;
}

.sidebar ol
{
	padding-left:		0px;
	line-height:		40px;
	list-style:			none;
}

.sidebar > ol
{
	text-indent:		20px;
}

.sidebar > ol > li > ol
{
	text-indent:		40px;
}

.sidebar > ol > li > ol > li > ol
{
	text-indent:		80px;
}

.sidebar label + input[type=checkbox],
	.sidebar label + input[type=checkbox] + ol > li
{
	display:			none;
}

.sidebar label + input[type=checkbox]:checked + ol > li
{
	display:			block;
}

.sidebar label, .sidebar li a
{
	display:			block;
	text-decoration:	none;
	color:				#999999;
}

.sidebar li.active > a, .sidebar li label:hover, .sidebar li a:hover
{
	color:				#FFFFFF;
	background-color:	#000000;
	cursor:				pointer;
}
